* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Space Grotesk", sans-serif !important;
  font-weight: 400;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
